<app-home></app-home>
<div class="w3-content" style="max-width:1100px">
  <!-- Menu Section -->

  <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Services..</h1><br>
      <h4>Skin Cancer Checks</h4>
      <p class="w3-text-grey">Most skin cancer can be successfully treated if it is found early. But without treatment,
        skin cancer can be deadly. </p><br>

      <h4>Travel Vaccinations</h4>
      <p class="w3-text-grey">Our doctors can provide comprehensive travel consultations and can advise you what
        vaccinations are required for all destinations. </p><br>

      <h4>Over 75 Health</h4>
      <p class="w3-text-grey">This is a full comprehensive annual medical check and there is no out-of-pocket expense.
      </p><br>

      <h4>Minor Procedures</h4>
      <p class="w3-text-grey">We have an autoclave for the sterilisation of equipment and instruments and we are fully
        accredited and comply with Australian standards and regulations.</p><br> 

      <h4>Insurance Consulting</h4>
      <p class="w3-text-grey">Each depositor in a bank is insured upto a maximum of ₹ 5,00,000 (Rupees Five Lakhs).</p>
    </div>

    <div class="w3-col l6 w3-padding-large" style="margin-top: 160px;">
      <img src="https://source.unsplash.com/weekly?water" class="w3-round w3-image w3-opacity-min" alt="Menu"
        style="width:100%">
    </div>
  </div>

  <hr>