 <app-home></app-home>
 
 <div class="loginbox">
        <!-- <img src="img/avtar.jpg" class="avtar"> -->
        <h1>Login Here</h1>
        <form action="" method="post">
            <p>Doctor ID</p>
            <input type="text" placeholder="Doctor ID" name="doctorId" id="doctorId" required="required">
            <p>Password</p>
            <input type="password" placeholder="Password" name="password" id="password" required="required">
            <input type="submit" name="" value="Login" (click)="doctorMain()"><br>
           
            <a href="SignUpCustomer.html">Don't have an account</a><br>
            
        </form>
        
    </div>
