<app-home></app-home>
  <br>
<br>
<br>
<br>
<br>
<br>
  <h2 align="center" style="  margin-bottom: 15px;
    margin-top: 10px;">New Receptionist ? Register here </h2>
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-7">
  <form action="">
  <table cellpadding="10" cellspacing="10" class="form-group">
    <tr><td>Name : </td><td><input  type="text" name="rname" id="rname" /></td>
    <tr><td>Email Id : </td><td><input  type="email" name="email" id="email" /></td>
    <tr><td>Phone Number : </td><td><input  type="number" name="number" id="number" /></td>
    <tr><td>Password : </td><td><input  type="text" name="password" id="password" /></td>
    <tr><td>Confirm Password : </td><td><input  type="text" name="cpassword" id="cpassword" /></td>
    <tr><td><input type="submit" class="btn btn-success" value="SignUp"> </td><td><input type="reset" class="btn btn-primary" value="Clear"><button class="btn btn-primary" style="margin: 8px;"><a href="Home.html" style="color: white; text-decoration: none;">Back</a></button></td></tr>
  </table>
  </form>
  </div>
