
<app-home></app-home>
<div class="w3-content" style="max-width:1100px"> 
 <!-- Contact Section -->
 <br>
 <br>
<div class="w3-container w3-padding-64" id="contact">
    <h1>Contact Us...</h1><br>
    <p> We understand your needs and we are always with you. Do not hesitate to contact us.</p>
    <!-- <p class="w3-text-blue-grey w3-large"><b>RT's Bank, Maharashtra</b></p> -->
    <p>You can also contact us by phone 7262066450 , or you can send us a message here:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="Mobile Number" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
          value="2021-08-07T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Type your message Here... " required
          name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div> 

  <!-- End page content -->


