
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      
      <a class="nav-item nav-link" [routerLink]="['/afterRAddP']">Add Patient</a>
      <a class="nav-item nav-link" [routerLink]="['/afterRPdetails']">Patient Details</a>
      
      <a class="nav-item nav-link" [routerLink]="['/afterRDdetails']">Doctor Details</a>
      <a class="nav-item nav-link" [routerLink]="['/afterRSelfDetails']">Self Details</a>
      <a class="nav-item nav-link" [routerLink]="['/afterRBill']">Bill Details</a>
      <a class="nav-item nav-link" [routerLink]="['']">Logout</a>
      
    </div>
  </div>
</nav>
