<app-patient></app-patient>
<h2 align="center" style="  margin-bottom: 15px;
    margin-top: 10px;">Your Details </h2>

<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
        <table cellpadding="10" cellspacing="10" style="    border: outset;">
            <th>Name</th>
            <th>Email Id </th>
            <th>Phone Number  </th>
            <th>Password</th>
            
            <th></th>
            <th></th>
            <tr>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td>1</td>
                <td><button type="button" class="btn btn-primary">Edit</button></td>

            </tr>
        </table>
    </div>

    <div class="col-sm-2"></div>
</div>
