<div class="w3-top">


  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <img src="https://source.unsplash.com/1600x900/?hospital" alt="run" style="height:50px; width:50px; ">
    <!-- <span><a href="" style="font-weight: bold; font-size:x-large; text-decoration: none; text-align: left; ">RT</a></span> -->
    <div class="mid" style=" margin-top: -60px;   letter-spacing: normal;">

      <ul class="navbar">
         
       <li><a [routerLink]="['/main']">Home</a></li>
      
       <li><a [routerLink]="['/about']">About Us</a></li>
        <li><a [routerLink]="['/service']">Services</a></li>
        <li><a [routerLink]="['/contact']">Contact Us</a></li>
      </ul>

    </div>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small" style="        margin-top: -60px;   ">

      <div class="drop-down">
        <button class="btn">Login</button>
        <div class="dropbtn">
          <a [routerLink]="['/dlogin']">Doctor</a> 
          <a [routerLink]="['/plogin']">Patient</a> 
          <a [routerLink]="['/rlogin']">Receptionist</a> 
        </div>
      </div>
      <div class="drop-down">
        <button class="btn">Sign Up</button>
        <div class="dropbtn">
          <a [routerLink]="['/dsignup']">Doctor</a> 
          <a [routerLink]="['/psignup']">Patient</a> 
          <!-- <a [routerLink]="['/rsignup']">Receptionist</a>  -->
        </div>
      </div>
    </div>
  </div>

</div>

<!-- <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="img/home.jpg" alt="Hamburger Catering" width="1600" height="800">
  <div class="centered"> -->
    <!-- <h1>Welcome to RT's Bank..</h1>-->
  <!-- </div>
    <div class="w3-display-center w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Le Catering</h1>
  </div>
</header>  -->

<!-- Page content -->
<!-- <div class="w3-content" style="max-width:1100px">  -->

  <!-- About Section-->
  <!-- <div class="w3-row w3-padding-64" id="about">
    <div class="w3-col m6 w3-padding-large w3-hide-small" style="margin-top: 160px;">
      <img src="img/about.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting" width="600" height="750">
    </div>

    <div class="w3-col m6 w3-padding-large">
      <h1 class="w3-center">About Us...</h1><br>
      <h5 class="w3-center"> since 1889</h5>
      <p class="w3-large">RT's Bank is a leading private sector bank in India. The Bank’s consolidated total assets
        stood at Rs. 14.76 trillion at September 30, 2020. RT's Bank currently has a network of 5,288 branches and
        15,158 ATMs across India.
        RT's Bank was originally promoted in 1994 by RT's Limited, an Indian financial institution, and was its
        wholly-owned subsidiary. Bank was originally promoted in 1994 by RT's Limited, an Indian financial institution,
        and was its wholly-owned subsidiary.
        All the latest, in-depth information about RT's Bank's financial performance and business initiatives.

      <p class="w3-large w3-text-grey w3-hide-medium">Explore diverse openings with RT's Bank.Time and again our
        innovative banking services has been recognized and rewarded world over.
        Catch up with RT's Bank's latest business and social initiatives, as well as innovative product launches.
        RT's Bank is deeply engaged in human and economic development at the national level. The Bank works closely with
        RT's Foundation across diverse sectors and programs.



      </p>
    </div>
  </div>

  <hr> -->

  <!-- Menu Section -->
  <!-- <div class="w3-row w3-padding-64" id="menu">
    <div class="w3-col l6 w3-padding-large">
      <h1 class="w3-center">Our Services..</h1><br>
      <h4>Money Savings</h4>
      <p class="w3-text-grey">You can save your money in our bank. Your money is safe. </p><br>

      <h4>Loans</h4>
      <p class="w3-text-grey"> We offered Loans, and they come in all shapes and sizes. </p><br>

      <h4>Digital Banking</h4>
      <p class="w3-text-grey">The ability to manage your finances online from your computer, tablet, or smartphone is
        becoming more and more important.</p><br>

      <h4>Financial Investment</h4>
      <p class="w3-text-grey">We offer financial services for business owners who need to differentiate professional and
        personal finances.</p><br>

      <h4>Insurance Consulting</h4>
      <p class="w3-text-grey">Each depositor in a bank is insured upto a maximum of ₹ 5,00,000 (Rupees Five Lakhs).</p>
    </div>

    <div class="w3-col l6 w3-padding-large" style="margin-top: 160px;">
      <img src="img/services.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr> -->

  <!-- Contact Section -->
  <!-- <div class="w3-container w3-padding-64" id="contact">
    <h1>Contact Us...</h1><br>
    <p> We understand your needs and we are always with you. Do not hesitate to contact us.</p>
    <p class="w3-text-blue-grey w3-large"><b>RT's Bank, Maharashtra</b></p>
    <p>You can also contact us by phone 7262066450 or email banking@service.com, or you can send us a message here:</p>
    <form action="/action_page.php" target="_blank">
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-padding-16" type="number" placeholder="Mobile Number" required name="People"></p>
      <p><input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
          value="2021-08-07T20:00"></p>
      <p><input class="w3-input w3-padding-16" type="text" placeholder="Type your message Here... " required
          name="Message"></p>
      <p><button class="w3-button w3-light-grey w3-section" type="submit">SEND MESSAGE</button></p>
    </form>
  </div>

  End page content -->
<!-- </div> -->

<!-- Footer -->
<!-- <footer class="w3-center w3-light-grey w3-padding-32">
  <p>Cpoyright <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
      class="w3-hover-text-green">renu@810</a></p>
</footer>  --> 